@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Metrophobic&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --white: #FEFEFE;
  --violet: #A395F7;
  --green: #BDE9B4;
  --yellow: #FDF91E;
  --black: #040404;
}
*{
  padding: 0;margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  overflow: hidden;
}

/* hero style */

